<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8" />
    <title>CommunOS | О мне</title>
</head>
</html>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
            <h1>Всем привет!</h1>
            <p>Меня зовут Даня, я делаю этот сайт чтобы люди скачивали мой дистрибутив что был сделан из исходников Linux From Scratch(LFS). </p>
            <p><i>Почему я решил сделать то?</i></p>
            <h3>Честно, чтобы принести пользу народу и добро. </h3>
        </div>
    </header>
    <footer>
        <p>© 2026 CommunOS. Все права защищены</p>
    </footer>
</body>
</html>