{% extends "base.html" %}

{% block title %}MonolithOS | Главная{% endblock %}

{% block header %}
<header>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </div>          
    <nav>
        <h1>Ссылки:</h1>
        <ul>
            <li><a href="{{ url_for('about') }}">О разработчике</a></li>
            <li><a href="{{ url_for('post_page') }}">Пост</a></li>
            <li><a href="{{ url_for('dist') }}">Дистрибутив</a></li>
        </ul>
    </nav>
</header>
{% endblock %}

{% block content %}
    <div class="content">
        <h2>Добро пожаловать на MonolithOS!</h2>
        <p>Это главная страница вашего сайта.</p>
        <p>Перейдите на страницу <a href="{{ url_for('post_page') }}">поста</a>.</p>
    </div>
{% endblock %}